/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

                .greeting{
                  grid-area:header;
                   font-size: 36.5px;
                  color: rgb(255, 255, 255);
                }
                .title{
                  grid-area:title;
                  font-size: 28.333px;
                  font-family: "Roboto";
                  color: rgb(255, 255, 255);
                }
                .statement{
                  grid-area:statement;
                  font-size: 21px;
                  padding:20px;
                  color: rgb(255, 255, 255);
                }

                 .gridContainer{
                    background-color: #242a5c;
                    display:grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 70px 140px auto 200px;
                      grid-row-gap: 30px;
                      grid-column-gap: 2px;

                    }

                        .wireframe{
                      color: white;
                      display:grid;
                      grid-template-columns: var(--col-5) var(--col-7);
                      /*grid-column-gap: 4px*/
                      /*background-color: black;*/

                     }
                     .wireframe img{
                      width:78%;
                      height: auto;
                     }

                    .photoshop{
                      color: white;
                      display:grid;
                      grid-template-columns: var(--col-4) var(--col-8);
                      /*grid-column-gap: 4px;*/

                     }

                     .photoshop img {
                      width: 94%;
                      height: auto
                     }

                     .html{
                      color: white;
                      /*grid-column: third-line/end;*/
                      /*grid-row:4/6;*/
                      display:grid;
                      grid-template-columns: var(--col-5) var(--col-7);
                      grid-column-gap: 1px;
                     }

                     .html img {
                      width: 94%;
                      height: auto;
                     }

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
     .greeting{
                  grid-area:header;
                   font-size: 36.5px;
                  color: rgb(255, 255, 255);
                }
                .title{
                  grid-area:title;
                  font-size: 28.333px;
                  font-family: "Roboto";
                  color: rgb(255, 255, 255);
                }
                .statement{
                  grid-area:statement;
                  font-size: 21px;
                  padding:20px;
                  color: rgb(255, 255, 255);
                }

                 .gridContainer{
                    background-color: #242a5c;
                    display:grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 70px 140px auto 200px;
                      grid-row-gap: 30px;
                      grid-column-gap: 2px;

                    }

                        .wireframe{
                      color: white;
                      display:grid;
                      grid-template-columns: var(--col-5) var(--col-7);
                      /*grid-column-gap: 4px*/
                      /*background-color: black;*/

                     }
                     .wireframe img{
                      width:78%;
                      height: auto;
                     }

                    .photoshop{
                      color: white;
                      display:grid;
                      grid-template-columns: var(--col-4) var(--col-8);
                      /*grid-column-gap: 4px;*/

                     }

                     .photoshop img {
                      width: 94%;
                      height: auto
                     }

                     .html{
                      color: white;
                      /*grid-column: third-line/end;*/
                      /*grid-row:4/6;*/
                      display:grid;
                      grid-template-columns: var(--col-5) var(--col-7);
                      grid-column-gap: 1px;
                     }

                     .html img {
                      width: 94%;
                      height: auto;
                     }
}






/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 


                .greeting{
                  grid-area:header;
                   font-size: 36.5px;
                  color: rgb(255, 255, 255);
                }
                .title{
                  grid-area:title;
                  font-size: 28.333px;
                  font-family: "Roboto";
                  color: rgb(255, 255, 255);
                }
                .statement{
                  grid-area:statement;
                  font-size: 21px;
                  padding:20px;
                  color: rgb(255, 255, 255);
                }

                 .gridContainer{
                    background-color: #242a5c;
                    display:grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 70px 140px auto 200px;
                      grid-row-gap: 30px;
                      grid-column-gap: 4px;

                    }

                        .wireframe{
                      color: white;
                      display:grid;
                      grid-template-columns: var(--col-5) var(--col-7);
                      /*grid-column-gap: 4px*/

                     }
                     .wireframe img{
                      width:78%;
                      height: auto;
                     }

                    .photoshop{
                      color: white;
                      display:grid;
                      grid-template-columns: var(--col-4) var(--col-8);
                      grid-column-gap: 4px

                     }

                     .photoshop img {
                      width: 94%;
                      height: auto
                     }

                     .html{
                      color: white;
                      /*grid-column: third-line/end;*/
                      /*grid-row:4/6;*/
                      display:grid;
                      grid-template-columns: var(--col-5) var(--col-7);
                      grid-column-gap: 1px;
                     }

                     .html img {
                      width: 94%;
                      height: auto;
                     }
}





/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
                  
        .greeting{
          grid-area:header;
           font-size: 36.5px;
          color: rgb(255, 255, 255);
        }
        .title{
          grid-area:title;
          font-size: 28.333px;
          font-family: "Roboto";
          color: rgb(255, 255, 255);
        }
        .statement{
          grid-area:statement;
          font-size: 21px;
          padding:20px;
          color: rgb(255, 255, 255);
        }

         .gridContainer{
            background-color: #242a5c;
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 70px 140px auto 200px;
              grid-row-gap: 30px;
              /*grid-column-gap: 4px;*/
            /*padding: 10px;*/

            }

                .wireframe{
              padding: 12px;

              color: white;
              display:grid;
              grid-template-columns: var(--col-3) var(--col-9);
              /*grid-column-gap: 4px*/

             }
             .wireframe img{
              width:86%;
              height: auto;
             }

            .photoshop{
              padding: 12px;
              color: white;
              display:grid;
              grid-template-columns: var(--col-4) var(--col-8);

              /*grid-column-gap: 4px;*/
              /*background-color: red;*/

             }

             .photoshop img {
              width: 66%;
              height: auto
             }

             .html{
              padding: 12px;

              color: white;
              /*grid-column: third-line/end;*/
              /*grid-row:4/6;*/
              display:grid;
              grid-template-columns: var(--col-4) var(--col-8);

              /*grid-template-columns: var(--col-5) var(--col-7);*/
              /*grid-column-gap: 1px;*/
             }

             .html img {
              width: 94%;
              height: auto;
             }


}





/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
 @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 


        .greeting{
          grid-area:header;
           font-size: 36.5px;
          color: rgb(255, 255, 255);
        }
        .title{
          grid-area:title;
          font-size: 28.333px;
          font-family: "Roboto";
          color: rgb(255, 255, 255);
        }
        .statement{
          grid-area:statement;
          font-size: 21px;
          padding:20px;
          color: rgb(255, 255, 255);
        }

         .gridContainer{
            background-color: #242a5c;
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 70px 170px auto 200px;
              grid-row-gap: 30px;
              grid-column-gap: 4px;

            }

          .wireframe{
              color: white;
              display:grid;
              grid-template-columns: var(--col-5) var(--col-7);
              grid-column-gap: 4px;

             }
             .wireframe img{
              width:93%;
              height: auto;
             }

            .photoshop{
              color: white;
              display:grid;
              grid-template-columns: var(--col-3) var(--col-9);
              grid-template-columns: var(--col-5) var(--col-7);

              grid-column-gap: 4px;
              /*background-color: blue;*/

             }

             .photoshop img {
              width: 97%;
              height: auto
             }
             .photoshop .desc{
              padding-left: 9px;
             }

             .html{
              color: white;
              grid-column: third-line/end;
              grid-row:4/6;
              display:grid;
              grid-template-columns: var(--col-5) var(--col-7);
              grid-column-gap: 1px;
             }

             .html img {
              width: 94%;
              height: auto;
             }


}

 



/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
   .greeting{
          grid-area:header;
           font-size: 36.5px;
          color: rgb(255, 255, 255);
        }
        .title{
          grid-area:title;
          font-size: 28.333px;
          font-family: "Roboto";
          color: rgb(255, 255, 255);
        }
        .statement{
          grid-area:statement;
          font-size: 21px;
          padding:20px;
          color: rgb(255, 255, 255);
        }

         .gridContainer{
          padding: 12px;
            background-color: #242a5c;
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 180px auto 200px;
              grid-row-gap: 56px;
              grid-column-gap: 4px;

            }

          .wireframe{
              color: white;
              display:grid;
              grid-template-columns: var(--col-5) var(--col-7);
              grid-column-gap: 4px;

             }
             .wireframe img{
              width:55%;
              height: auto;
             }

            .photoshop{
              color: white;
              display:grid;
              /*grid-template-columns: var(--col-3) var(--col-9);*/
              grid-template-columns: var(--col-5) var(--col-7);

              /*grid-column-gap: 4px;*/
              /*background-color: green;*/

             }

             .photoshop img {
              width: 56%;
              height: auto
             }
             .photoshop .desc{
              padding-left: 9px;
             }

             .html{
              color: white;
              /*grid-column: third-line/end;*/
              /*grid-row:4/6;*/
              display:grid;
              grid-template-columns: var(--col-5) var(--col-7);
              grid-column-gap: 1px;
             }

             .html img {
              width: 94%;
              height: auto;
             }
 
}













/*Portrait*/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

           
.intro{
  padding:8px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:auto;
  grid-row-gap: 4px;
  grid-column-gap: 4px;

  grid-template-areas: 
  "header"
  "title"
  "statement";
}
        .greeting{
          grid-area:header;
           font-size: 36.5px;
          color: rgb(255, 255, 255);
        }
        .title{
          grid-area:title;
          font-size: 28.333px;
          font-family: "Roboto";
          color: rgb(255, 255, 255);
        }
        .statement{
          grid-area:statement;
          font-size: 21px;
          padding:20px;
          color: rgb(255, 255, 255);
        }

         .gridContainer{
            background-color: #242a5c;
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 70px 140px auto 200px;
              grid-row-gap: 30px;
              grid-column-gap: 4px;

            }

                .wireframe{
              color: white;
              display:grid;
              grid-template-columns: var(--col-3) var(--col-9);
              grid-column-gap: 4px

             }
             .wireframe img{
              width:78%;
              height: auto;
             }

            .photoshop{
              color: white;
              display:grid;
              grid-template-columns: var(--col-3) var(--col-9);

              grid-column-gap: 4px;
              background-color: red;

             }

             .photoshop img {
              width: 94%;
              height: auto
             }

             .html{
              color: white;
              grid-column: third-line/end;
              grid-row:4/6;
              display:grid;
              grid-template-columns: var(--col-5) var(--col-7);
              grid-column-gap: 1px;
             }

             .html img {
              width: 94%;
              height: auto;
             }

}
 
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
.intro{
  padding:8px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:auto;
  grid-row-gap: 4px;
  grid-column-gap: 4px;

  grid-template-areas: 
  "header"
  "title"
  "statement";
}
        .greeting{
          grid-area:header;
           font-size: 36.5px;
          color: rgb(255, 255, 255);
        }
        .title{
          grid-area:title;
          font-size: 28.333px;
          font-family: "Roboto";
          color: rgb(255, 255, 255);
        }
        .statement{
          grid-area:statement;
          font-size: 21px;
          padding:20px;
          color: rgb(255, 255, 255);
        }

         .gridContainer{
            background-color: #242a5c;
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 70px 176px auto 200px;
              grid-row-gap: 30px;
              grid-column-gap: 4px;

            }

                .wireframe{
              color: white;
              display:grid;
              grid-template-columns: var(--col-3) var(--col-9);
              grid-column-gap: 4px

             }
             .wireframe img{
              width:78%;
              height: auto;
             }

            .photoshop{
              color: white;
              display:grid;
              grid-template-columns: var(--col-3) var(--col-9);

              grid-column-gap: 4px;
              /*background-color: red;*/

             }

             .photoshop img {
              width: 80%;
              height: auto
             }

             .html{
              color: white;
              grid-column: third-line/end;
              grid-row:4/6;
              display:grid;
              grid-template-columns: var(--col-5) var(--col-7);
              grid-column-gap: 1px;
             }

             .html img {
              width: 94%;
              height: auto;
             }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
.intro{
  padding:8px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:auto;
  grid-row-gap: 4px;
  grid-column-gap: 4px;

  grid-template-areas: 
  "header"
  "title"
  "statement";
}
        .greeting{
          grid-area:header;
           font-size: 36.5px;
          color: rgb(255, 255, 255);
        }
        .title{
          grid-area:title;
          font-size: 28.333px;
          font-family: "Roboto";
          color: rgb(255, 255, 255);
        }
        .statement{
          grid-area:statement;
          font-size: 21px;
          padding:20px;
          color: rgb(255, 255, 255);
        }

         .gridContainer{
            background-color: #242a5c;
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 70px 120px auto 200px;
              grid-row-gap: 30px;
              grid-column-gap: 4px;

            }

                .wireframe{
              color: white;
              display:grid;
              grid-template-columns: var(--col-3) var(--col-9);
              grid-column-gap: 4px

             }
             .wireframe img{
              width:78%;
              height: auto;
             }

            .photoshop{
              color: white;
              display:grid;
              grid-template-columns: var(--col-3) var(--col-9);

              grid-column-gap: 4px;
              /*background-color: green;*/

             }

             .photoshop img {
              width: 80%;
              height: auto
             }

             .html{
              color: white;
              grid-column: third-line/end;
              grid-row:4/6;
              display:grid;
              grid-template-columns: var(--col-5) var(--col-7);
              grid-column-gap: 1px;
             }

             .html img {
              width: 94%;
              height: auto;
             }
 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 



}
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 


                .greeting{
                  grid-area:header;
                   font-size: 36.5px;
                  color: rgb(255, 255, 255);
                }
                .title{
                  grid-area:title;
                  font-size: 28.333px;
                  font-family: "Roboto";
                  color: rgb(255, 255, 255);
                }
                .statement{
                  grid-area:statement;
                  font-size: 21px;
                  padding:20px;
                  color: rgb(255, 255, 255);
                }

                 .gridContainer{
                    background-color: #242a5c;
                    display:grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 70px 140px auto 200px;
                      grid-row-gap: 30px;
                      grid-column-gap: 4px;

                    }

                        .wireframe{
                      color: white;
                      display:grid;
                      grid-template-columns: var(--col-5) var(--col-7);
                      /*grid-column-gap: 4px*/

                     }
                     .wireframe img{
                      width:78%;
                      height: auto;
                     }

                    .photoshop{
                      color: white;
                      display:grid;
                      grid-template-columns: var(--col-4) var(--col-8);
                      grid-column-gap: 4px

                     }

                     .photoshop img {
                      width: 94%;
                      height: auto
                     }

                     .html{
                      color: white;
                      /*grid-column: third-line/end;*/
                      /*grid-row:4/6;*/
                      display:grid;
                      grid-template-columns: var(--col-5) var(--col-7);
                      grid-column-gap: 1px;
                     }

                     .html img {
                      width: 94%;
                      height: auto;
                     }
}





/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
                  
        .greeting{
          grid-area:header;
           font-size: 36.5px;
          color: rgb(255, 255, 255);
        }
        .title{
          grid-area:title;
          font-size: 28.333px;
          font-family: "Roboto";
          color: rgb(255, 255, 255);
        }
        .statement{
          grid-area:statement;
          font-size: 21px;
          padding:20px;
          color: rgb(255, 255, 255);
        }

         .gridContainer{
            background-color: #242a5c;
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 70px 140px auto 200px;
              grid-row-gap: 30px;
              /*grid-column-gap: 4px;*/
            /*padding: 10px;*/

            }

                .wireframe{
              padding: 12px;

              color: white;
              display:grid;
              grid-template-columns: var(--col-3) var(--col-9);
              /*grid-column-gap: 4px*/

             }
             .wireframe img{
              width:86%;
              height: auto;
             }

            .photoshop{
              padding: 12px;
              color: white;
              display:grid;
              grid-template-columns: var(--col-4) var(--col-8);

              /*grid-column-gap: 4px;*/
              /*background-color: red;*/

             }

             .photoshop img {
              width: 66%;
              height: auto
             }

             .html{
              padding: 12px;

              color: white;
              /*grid-column: third-line/end;*/
              /*grid-row:4/6;*/
              display:grid;
              grid-template-columns: var(--col-4) var(--col-8);

              /*grid-template-columns: var(--col-5) var(--col-7);*/
              /*grid-column-gap: 1px;*/
             }

             .html img {
              width: 94%;
              height: auto;
             }


}





/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
 @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 


        .greeting{
          grid-area:header;
           font-size: 36.5px;
          color: rgb(255, 255, 255);
        }
        .title{
          grid-area:title;
          font-size: 28.333px;
          font-family: "Roboto";
          color: rgb(255, 255, 255);
        }
        .statement{
          grid-area:statement;
          font-size: 21px;
          padding:20px;
          color: rgb(255, 255, 255);
        }

         .gridContainer{
            background-color: #242a5c;
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 70px 170px auto 200px;
              grid-row-gap: 30px;
              grid-column-gap: 4px;

            }

          .wireframe{
              color: white;
              display:grid;
              grid-template-columns: var(--col-5) var(--col-7);
              grid-column-gap: 4px;

             }
             .wireframe img{
              width:93%;
              height: auto;
             }

            .photoshop{
              color: white;
              display:grid;
              grid-template-columns: var(--col-3) var(--col-9);
              grid-template-columns: var(--col-5) var(--col-7);

              grid-column-gap: 4px;
              /*background-color: blue;*/

             }

             .photoshop img {
              width: 97%;
              height: auto
             }
             .photoshop .desc{
              padding-left: 9px;
             }

             .html{
              color: white;
              grid-column: third-line/end;
              grid-row:4/6;
              display:grid;
              grid-template-columns: var(--col-5) var(--col-7);
              grid-column-gap: 1px;
             }

             .html img {
              width: 94%;
              height: auto;
             }


}

 



/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
   .greeting{
          grid-area:header;
           font-size: 36.5px;
          color: rgb(255, 255, 255);
        }
        .title{
          grid-area:title;
          font-size: 28.333px;
          font-family: "Roboto";
          color: rgb(255, 255, 255);
        }
        .statement{
          grid-area:statement;
          font-size: 21px;
          padding:20px;
          color: rgb(255, 255, 255);
        }

         .gridContainer{
          padding: 12px;
            background-color: #242a5c;
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 180px auto 200px;
              grid-row-gap: 56px;
              grid-column-gap: 4px;

            }

          .wireframe{
              color: white;
              display:grid;
              grid-template-columns: var(--col-5) var(--col-7);
              grid-column-gap: 4px;

             }
             .wireframe img{
              width:55%;
              height: auto;
             }

            .photoshop{
              color: white;
              display:grid;
              /*grid-template-columns: var(--col-3) var(--col-9);*/
              grid-template-columns: var(--col-5) var(--col-7);

              /*grid-column-gap: 4px;*/
              /*background-color: green;*/

             }

             .photoshop img {
              width: 56%;
              height: auto
             }
             .photoshop .desc{
              padding-left: 9px;
             }

             .html{
              color: white;
              /*grid-column: third-line/end;*/
              /*grid-row:4/6;*/
              display:grid;
              grid-template-columns: var(--col-5) var(--col-7);
              grid-column-gap: 1px;
             }

             .html img {
              width: 94%;
              height: auto;
             }
 
}













/*Portrait*/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

           
.intro{
  padding:8px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:auto;
  grid-row-gap: 4px;
  grid-column-gap: 4px;

  grid-template-areas: 
  "header"
  "title"
  "statement";
}
        .greeting{
          grid-area:header;
           font-size: 36.5px;
          color: rgb(255, 255, 255);
        }
        .title{
          grid-area:title;
          font-size: 28.333px;
          font-family: "Roboto";
          color: rgb(255, 255, 255);
        }
        .statement{
          grid-area:statement;
          font-size: 21px;
          padding:20px;
          color: rgb(255, 255, 255);
        }

         .gridContainer{
            background-color: #242a5c;
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 70px 140px auto 200px;
              grid-row-gap: 30px;
              grid-column-gap: 4px;

            }

                .wireframe{
              color: white;
              display:grid;
              grid-template-columns: var(--col-3) var(--col-9);
              grid-column-gap: 4px

             }
             .wireframe img{
              width:78%;
              height: auto;
             }

            .photoshop{
              color: white;
              display:grid;
              grid-template-columns: var(--col-3) var(--col-9);

              grid-column-gap: 4px;
              background-color: red;

             }

             .photoshop img {
              width: 94%;
              height: auto
             }

             .html{
              color: white;
              grid-column: third-line/end;
              grid-row:4/6;
              display:grid;
              grid-template-columns: var(--col-5) var(--col-7);
              grid-column-gap: 1px;
             }

             .html img {
              width: 94%;
              height: auto;
             }

}
 
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
.intro{
  padding:8px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:auto;
  grid-row-gap: 4px;
  grid-column-gap: 4px;

  grid-template-areas: 
  "header"
  "title"
  "statement";
}
        .greeting{
          grid-area:header;
           font-size: 36.5px;
          color: rgb(255, 255, 255);
        }
        .title{
          grid-area:title;
          font-size: 28.333px;
          font-family: "Roboto";
          color: rgb(255, 255, 255);
        }
        .statement{
          grid-area:statement;
          font-size: 21px;
          padding:20px;
          color: rgb(255, 255, 255);
        }

         .gridContainer{
            background-color: #242a5c;
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 70px 176px auto 200px;
              grid-row-gap: 30px;
              grid-column-gap: 4px;

            }

                .wireframe{
              color: white;
              display:grid;
              grid-template-columns: var(--col-3) var(--col-9);
              grid-column-gap: 4px

             }
             .wireframe img{
              width:78%;
              height: auto;
             }

            .photoshop{
              color: white;
              display:grid;
              grid-template-columns: var(--col-3) var(--col-9);

              grid-column-gap: 4px;
              /*background-color: red;*/

             }

             .photoshop img {
              width: 80%;
              height: auto
             }

             .html{
              color: white;
              grid-column: third-line/end;
              grid-row:4/6;
              display:grid;
              grid-template-columns: var(--col-5) var(--col-7);
              grid-column-gap: 1px;
             }

             .html img {
              width: 94%;
              height: auto;
             }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
.intro{
  padding:8px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:auto;
  grid-row-gap: 4px;
  grid-column-gap: 4px;

  grid-template-areas: 
  "header"
  "title"
  "statement";
}
        .greeting{
          grid-area:header;
           font-size: 36.5px;
          color: rgb(255, 255, 255);
        }
        .title{
          grid-area:title;
          font-size: 28.333px;
          font-family: "Roboto";
          color: rgb(255, 255, 255);
        }
        .statement{
          grid-area:statement;
          font-size: 21px;
          padding:20px;
          color: rgb(255, 255, 255);
        }

         .gridContainer{
            background-color: #242a5c;
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 70px 120px auto 200px;
              grid-row-gap: 30px;
              grid-column-gap: 4px;

            }

                .wireframe{
              color: white;
              display:grid;
              grid-template-columns: var(--col-3) var(--col-9);
              grid-column-gap: 4px

             }
             .wireframe img{
              width:78%;
              height: auto;
             }

            .photoshop{
              color: white;
              display:grid;
              grid-template-columns: var(--col-3) var(--col-9);

              grid-column-gap: 4px;
              /*background-color: green;*/

             }

             .photoshop img {
              width: 80%;
              height: auto
             }

             .html{
              color: white;
              grid-column: third-line/end;
              grid-row:4/6;
              display:grid;
              grid-template-columns: var(--col-5) var(--col-7);
              grid-column-gap: 1px;
             }

             .html img {
              width: 94%;
              height: auto;
             }
 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 



}
